*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  line-height: 60px;
  background-color: #ccc;
}
h1 a{
  text-decoration: none;
  color:green;
}
h2{
  color:blue;
}
.box{
  width: 1000px;
  margin: 0 auto;
}
