h1{
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  background-color: #00ffdc;
  border: 2px solid #ccc;
}
h1 a{
  text-decoration: none;
  color:red;
}
h2{
  color:blue;
  display: block;
  border-top: 1px solid #666666;
}
ul{
  border: 1px solid green;
}
.box{
  width: 800px;
  margin: 0 auto;
  box-shadow:1px 1px 5px #999999;
  overflow: hidden;
}
